@import url(https://fonts.googleapis.com/css?family=Nova+Square);
h1, h2, h3{ font-family: 'Nova Square',
cursive;}
h1{color:red}

h2{background-color:red;
    color:white;
    font-size:20px;}


  /* THE FONT DOESN'T WORK */
.page-wrapper {
  width:700px;
  margin: 0 auto;}
.page-wrapper a {
  text-decoration: none;}



.preamble{
background-color:darkslategray;
}
.explanation{
  border-style:solid;
  border-color:black;
  border-width:50%;
  width:400px;
}
.participation{
  border-style:solid;
  border-color:black;
  border-width: 50%;
  width:400px;
}
.resources{
  border-style:solid;
  border-color:black;
  border-width: 55%l
}
footer a{ background-color:gray;
  color:lightgray;

  box-shadow:10px 10px 1px lightgray;
}
